.sidebar {
  display: flex;
  flex-direction: column;
}

.link {
  display: block;
}

.logo {
  height: 80px;
  width: 100px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.span svg {
  stroke: green;
  fill: var(--main-text-color);
  color: var();
}
